<a href="https://colab.research.google.com/github/Zaanis/Python-Small-Projects/blob/main/Webscrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from urllib.request import Request, urlopen

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/Zaanis/COGS108_Repo/main/all_player_1.csv")

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Experience
0,John Abraham,OLB,South Carolina,76.0,252.0,4.55,NaN,NaN,NaN,NaN,NaN,13,15
1,Shaun Alexander,RB,Alabama,72.0,218.0,4.58,NaN,NaN,NaN,NaN,NaN,19,9
2,Darnell Alford,OT,Boston Col.,76.0,334.0,5.56,25.0,23.0,94.0,8.48,4.98,188,4
3,Kyle Allamon,TE,Texas Tech,74.0,253.0,4.97,29.0,NaN,104.0,7.29,4.49,0,-1
4,Rashard Anderson,CB,Jackson State,74.0,206.0,4.55,34.0,NaN,123.0,7.18,4.15,23,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7676,Devonte Wyatt,DT,Georgia,75.0,304.0,4.77,29.0,NaN,111.0,NaN,NaN,28,0
7677,Jalen Wydermyer,TE,Texas A&M,76.0,255.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0
7678,Cade York,K,LSU,73.0,206.0,NaN,NaN,12.0,NaN,NaN,NaN,124,0
7679,Nick Zakelj,OT,Fordham,78.0,316.0,5.13,28.5,27.0,110.0,7.75,4.71,187,0
7680,Bailey Zappe,QB,Western Kentucky,73.0,215.0,4.88,30.0,NaN,109.0,7.19,4.40,137,0

In [ ]:
data = []
for num in range (1,8):
  url = "https://draftwire.usatoday.com/2020/04/11/2020-nfl-mock-draft-7-rounds-updated-joe-burrow-tua-tagovailoa-justin-herbert/{}/".format(num)
  page = requests.get(url)
  soup = BeautifulSoup(page.content, 'html.parser')
  lists = soup.find_all('div', class_ = 'articleBody')
  content = str(list(lists)[0])
  content_list = content.split('<p>')
  for c in content_list:
    if '|' in c:
      pick = int(c.split('.')[0])
      player = str(c.split(' | ')[1])
      position = str(c.split(' | ')[2])
      data.append([pick, player, position])
df = pd.DataFrame(data)
df.columns = ['Pick', 'Name', 'Position']
df

     Pick             Name Position
0       1       Joe Burrow       QB
1       2      Chase Young     EDGE
2       3      Jeff Okudah       CB
3       4    Tristan Wirfs       OT
4       5   Tua Tagovailoa       QB
..    ...              ...      ...
250   251   Cordel Iwuagwu       OL
251   252   Lawrence Cager       WR
252   253     Jason Strnad       LB
253   254  Colton McKivitz       OT
254   255     Bravvion Roy       DL

[255 rows x 3 columns]

In [ ]:
def getname(x):
  name = x.split(', ')
  return name[1] +' ' + name[0]

In [ ]:
alpha = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
names = []
for letter in alpha:
  url = "https://www.footballdb.com/players/current.html?letter={}".format(letter)
  hdr = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
        'Accept-Encoding': 'none',
        'Accept-Language': 'en-US,en;q=0.8',
        'Connection': 'keep-alive'}
  req = Request(url , headers=hdr)
  webpage = urlopen(req).read()
  soup = BeautifulSoup(webpage, "html.parser")
  lists = soup.find_all('div', class_ = 'tr')
  for l in lists:
    name = l.find('div', class_ = "td").text
    names.append(name)
final_name = [getname(x) for x in names]
len(final_name)

2121

In [ ]:
url = "https://www.lines.com/nfl/drafts/2022"
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find_all('tr')
names = []
for l in lists:
  name = l.find_all('td')
  for n in name:
    try:
      yep = n.find('a', href = str).text
      names.append(yep)
    except:
      pass
names = [all for all in names if '\n' not in all]
names = [name.strip() for name in names]

In [ ]:
'Ja\'Sir Taylor'

"Ja'Sir Taylor"

In [ ]:
lists = soup.find_all('ul', class_ = 'd3-o-list nfl-c-player-info__physical-data')
x = str(lists).split('Arms</div><div class="nfl-c-player-info__value">')[1]
x.split('</div>')

IndexError: ignored

In [ ]:
lists

In [ ]:
for l in lists:
  print(l)

In [ ]:
url = "https://www.nfl.com/players/joe/"
c = -1
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
lists = soup.find_all('ul', class_ = 'd3-o-list nfl-c-player-info__career-data')
for l in lists:
  c = l.find('div', class_ = 'nfl-c-player-info__value').text
c